<div class="game-tabs">
    <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
        <mat-tab label="About">
            <p class="game-tabs-par">
                Platforms:
                <span >PC</span>
            </p>
            <p class="game-tabs-par">
                Publishers:
                <span>Konami</span>
            </p>
            <p class="game-tabs-par">
                Website:
                <a class="game-tabs-link" href="https://www.rockstargames.com/gta-v" target="_blank">https://www.rockstargames.com/gta-v</a>
            </p>
            <div class="game-description">Some description</div>
            <p class="game-tabs-votes">
                <span>
                    <mat-icon class="game-votes-up">thumbs_up</mat-icon>
                    <span class="game-votes-count">55</span>
                </span>
                <span>
                    <mat-icon class="game-votes-down">thumbs-down</mat-icon>
                    <span class="game-votes-count">14</span>
                </span>
            </p>
        </mat-tab>
        <mat-tab label="Screenshots">
            <img
                class="game-screenshot"
                src="https://upload.wikimedia.org/wikipedia/en/a/a5/Grand_Theft_Auto_V.png"
                alt="screenshot"
            />
        </mat-tab>
        <mat-tab label="Trailers">
            <video class="game-trailer"
            controls
            >
                <source src="https://www.youtube.com/watch?v=QkkoHAzjnUs&ab_channel=RockstarGames" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </mat-tab>
    </mat-tab-group>
</div>